nav.navbar{
    background-color: rgb(163, 1, 1);
}
.nav-link:hover{
    color: #000000 !important;
}
.facebook{
    color: #1877F2;
}
.instagram{
    color: rgb(228, 64, 95);
}
.linkedin{
    color: 	#0077B5;
}
.twitter{
    color: 	#1DA1F2;
}